/* ORDERED ITEMS JSX */
#orderHistoryViewDetailsImage {
  width: 70%;
  height: 5rem;
}

#orderhistoryPlusLogo {
  display: none !important;
  background: yellow;
}

#historyImagesdiv {
  max-height: 129px;
  overflow-x: scroll;
}
/* user order history */
#orderHistoryImage {
  height: 8rem;
  width: 8rem;
}
@media (max-width: 768px) {
  #orderHistoryViewDetailsImage {
    width: 50%;
    height: 3rem;
  }
  #orderHistoryImage {
    height: 4rem;
    width: 4rem;
  }
  #historyImagesdiv {
    overflow-x: scroll;
  }
  #orderhistoryPlusLogo {
    display: block !important;
  }
}
