.table {
  display: grid;
  grid-auto-flow: column;
  grid-column-start: auto;
  overflow-x: scroll;

  padding: 5px;
  background: #fffcf6;
  gap: 1rem;
}
.table::-webkit-scrollbar {
  display: none;
}
.snaps-inline {
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: 1rem;
}

.snaps-inline > * {
  scroll-snap-align: start;
}
.card-main-body {
  width: 15rem;
  height: 30vh;
  background: #f5efe8 !important;
}

.main-img {
  width: 100%;
  height: 80%;
}

@media (max-width: 768px) {
  .card-main-body {
    width: 8rem;
  }
  /* .main-img {
    width: 100%;
    min-height: 25vh;
  } */
}
